@use "base" as *;

body {
  background-color: mintcream;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: $grid-gap;
  padding-bottom: 20px;

  div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: $items-size;
    border-radius: 15px;
  }
}

$i: 1;
@while $i <= 4 {
  .c1{
    @include create-styles($i, $base-color1);
  }
  .c2{
    @include create-styles($i, $base-color2);
  }
  .c3{
    @include create-styles($i, $base-color3);
  }
  
  $i: $i + 1;
}
