@use "base" as *;
@use "sass:color";

body {
  background-color: mintcream;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: $grid-gap;
  padding-bottom: 20px;

  div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: $items-size;
    border-radius: 15px;
  }
}

.base-color{
  width: $items-size * 1.2;
}

.c1{
  .base-color{
    background-color: $base-color1;
  }
}

.c2{
  .base-color{
    background-color: $base-color2;
  }
}
.c3{
  .base-color{
    background-color: $base-color3;
  }
}

$i: 1;
@while $i <= 4 {
  .c1{
    .darken-#{$i} {
      background-color: color.scale($base-color1, $lightness: -$i * 2 * 10%);
      color: white;
      width: $items-size;
    }
    .lighten-#{$i} {
      background-color: color.scale($base-color1, $lightness: $i * 2 * 10%);
      width: $items-size;
    }
  }
  .c2{
    .darken-#{$i} {
      background-color: color.scale($base-color2, $lightness: -$i * 2 * 10%);
      color: white;
      width: $items-size;
    }
    .lighten-#{$i} {
      background-color: color.scale($base-color2, $lightness: $i * 2 * 10%);
      width: $items-size;
    }
  }
  .c3{
    .darken-#{$i} {
      background-color: color.scale($base-color3, $lightness: -$i * 2 * 10%);
      color: white;
      width: $items-size;
    }
    .lighten-#{$i} {
      background-color: color.scale($base-color3, $lightness: $i * 2 * 10%);
      width: $items-size;
    }
  }
  
  $i: $i + 1;
}